$kelly-green: #4cbb17;
* {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	margin:0;
	padding:0;
}
a, a:hover {
	color: white;
	text-decoration: none;
}
.hide {
	display:none;
}
div#header {
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	button {
		width: 175px;
	}
}
div#mainpage {
	display:flex;
	justify-content:center;
	margin-top: 30px;
}
table#movietable {
	border-collapse: collapse;
	td, th {
		border: 1px solid #ddd;
		padding: 8px;
		text-align: center;
	}
	tr {
		&:nth-child(even) {
			background-color: #f2f2f2;
		}
		&:hover {
			background-color: #ddd;
		}
	}
	th {
		padding: 12px 10px;
		background-color: $kelly-green;
		color:white;
	}
}
button, input[type=submit] {
	padding: 6px 18px;
}
div#modal_backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: auto;
	z-index: 10000;
	background-color: rgba(0, 0, 0, 0.4);
	div#modal {
		width: 500px;
		height: auto;
		background-color: white;
		position: absolute;
		left: calc(50vw - 250px);
		top: calc(50vh - 150px);
		border-radius: 4px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		div#modal_header {
			height: 20px;
			padding: 10px;
			color: white;
			text-align: right;
			background-color: black;
			cursor: pointer;
			border-radius: 4px 4px 0 0;
		}
		div#addMovie {
			form {
				fieldset {
					padding: 17px;
					margin: 9px;
					input[type=text], input[type=password] {
						padding: 5px;
						margin-bottom: 2px;
					}
					div.radio_group {
						margin-bottom: 2px;
					}
				}
			}
		}
	}
}